.loginForm {
  width: 360px;
  height: 200px;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0 0 5px #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-30px);
}
